@font-face {
    font-family: 'yekan';
    font-weight: 700;
    font-style: normal;
    src: url(/assets/fonts/YekanBakhFaNum-Bold.woff2)format('woff2');
}

@font-face {
    font-family: 'yekan';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/YekanBakhFaNum-Regular.woff2)format('woff2');
}